* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #e6f7ff;
  background-color: #0a1336;
}

a {
  color: #e6f7ff;
}

li {
  list-style-type: none;
}

/* -------------------------------------------------------------------navbar---------------------------------------------------------------------------------- */

header {
  background: #29315c;
}

@supports (position: sticky) {
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 60px;
  height: auto;
}

.navigationBar a {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.navigationBar a:hover,
a:active {
  background-color: #a9d9ce;
  color: #0a1336;
  transition: 0.25s ease;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamBARger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: #e6f7ff;
}

@media (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }

  .hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigationBar {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #29315c;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999; /* on top of everything */
  }

  .navItem {
    margin: 16px 0;
  }
  .navigationBar.active {
    left: 0;
  }
}

/* -------------------------------------------------------------------footer---------------------------------------------------------------------------------- */

.footerBar {
  max-width: 1170px;
  background-color: #29315c;
  margin: auto;
}

.footerRow {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #29315c;
  padding: 40px 0;
}

.footerColumn {
  width: 25%;
}

.footerColumn h4 {
  font-size: 18px;
  color: #f9fdff;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footerColumn h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #a9d9ce;
  height: 2px;
  box-sizing: border-box;
  width: 40px;
}

.footerColumn p {
  text-wrap: balance;
  padding-right: 6rem;
}

.footerColumn ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  font-size: 16px;
  font-weight: 300;
  color: lightslategray;
  display: block;
  transition: all 0.3s ease;
}

.footerColumn ul li a:hover {
  color: #f9fdff;
  padding-left: 10px;
}

.footerSupport a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #182449;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f9fdff;
  transition: all 0.5s ease;
}

.footerSupport a:hover {
  color: #182449;
  background-color: #f9fdff;
}

@media (max-width: 767px) {
  .footerColumn {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footerColumn {
    width: 100%;
  }
}

/* -------------------------------------------------------------------index.html---------------------------------------------------------------------------------- */

.indexHero {
  height: 100%;
  width: 100%;
  min-height: 60vh;
  /* background: linear-gradient(
    245.59deg,
    #29315c 0%,
    #182449 28.53%,
    #0a1336 75.52%
  ); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 0 19%;
}

.indexHeroText h1 {
  font-family: seitu-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 90px;
  line-height: 1;
  color: #a9d9ce;
  margin: 20px 0 20px;
}

.indexHeroText h4 {
  font-size: 18px;
  font-weight: 600;
  color: #e6f7ff;
  margin-bottom: 10px;
}

.indexHeroText p {
  color: #f9fdff;
  text-wrap: balance;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.indexHeroText a {
  display: inline-block;
  color: #29315c;
  background: #a9d9ce;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.55s ease;
}

.indexHeroText a:hover {
  background: transparent;
  color: #e6f7ff;
  border: 1px solid #f9fdff;
  transform: translateX(8px);
}

.indexHeroText a.indexSecondButton {
  margin-left: 20px;
}

.indexHeroText i {
  vertical-align: middle;
  margin-right: 5px;
}

.indexHeroImage {
  width: 500px;
  height: auto;
}

/* .indexHeroSocials {
  position: absolute;
  top: 40%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.indexHeroSocials i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: #f9fdff;
  transition: all 0.55s ease;
}

.indexHeroSocials i:hover {
  color: #a9d9ce;
  transform: translateY(-5px);
} */

@media (max-width: 1460px) {
  .indexHero {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .indexHeroImage img {
    width: 100%;
    height: auto;
  }
  .indexHeroText h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  .indexHero {
    padding: 0 3%;
    transition: 0.2s;
  }
  .indexHeroText {
    padding-top: 115px;
  }
  .indexHeroImage {
    text-align: center;
  }
  .indexHeroImage img {
    width: 560px;
    height: auto;
  }
  .indexHero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .indexHeroImage {
    width: 100%;
    height: auto;
  }
  .indexHeroText a.indexSecondButton {
    margin-left: 10px;
    margin-top: 20px;
  }
}

.indexCodes {
  padding: 2% 10%;
  background-color: #182449;
}

.indexCodesHeading {
  padding-bottom: 15px;
  color: #e6f7ff;
  font-size: 2rem;
}

.indexCodes .indexCodesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.indexCodesGrid .indexCodesGridBox {
  border-radius: 5px;
  background: #29315c;
  text-align: center;
  padding: 30px 20px;
}

.indexCodesGridBox h3 {
  color: #a9d9ce;
  font-size: 22px;
  padding: 10px 0;
}

.indexCodesReleaseDate {
  color: lightslategrey;
  font-style: italic;
}

/* -------------------------------------------------------------------characters.html---------------------------------------------------------------------------- */

.characters {
  padding: 2% 10%;
  background-color: #182449;
}

.charactersHeading {
  margin: 0 4.5% 0 4.5%;
  padding-bottom: 15px;
  color: #e6f7ff;
  font-size: 2rem;
}

.charactersSearchBar {
  margin: 0 4.5% 0 4.5%;
  margin-bottom: 20px;
}

.charactersSearchBar form {
  position: relative;
}

.charactersSearchBar input[type="text"] {
  padding: 10px 30px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.charactersSearchBar input[type="text"]:focus {
  outline: none;
  border-color: #29315c;
}

.charactersSearchBar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #888;
}

.charactersSearchBar i:hover {
  color: #555;
}

.charactersGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 15px;
}

.charactersGridBox {
  border-radius: 5px;
  background: #29315c;
  text-align: center;
  opacity: 1;
  margin-bottom: 25px;
  width: 140px;
}

.charactersGridBox img:hover {
  /* IMAGE CROPS OUTSIDE OF BOX!!!! FIX LATER */
  transform: translateY(-5px);
}

.charactersGridBox.hidden {
  display: none;
}

.charactersGridBox h3 {
  color: #a9d9ce;
  font-size: 18px;
  padding: 10px 0;
  transition: all 0.55s ease;
}

.charactersGridBox img {
  width: 100%;
  height: auto;
  transition: all 0.55s ease;
}

/* -------------------------------------------------------------------tierlist.html-------------------------------------------------------------------------------- */

.tierListHeader {
  border-radius: 0;
  display: flex;
  margin: 10px 0 5px;
  position: sticky;
  top: 75px;
  width: 100%;
  z-index: 1;
}

.tierListEntireContainer {
  border: 1px solid #0a1336;
  border-radius: 0;
  display: flex;
  margin: 10px 0;
  min-height: 100px;
  width: 100%;
}

.tierListTypeSections {
  grid-gap: 0;
  background-color: #29315c;
  border-bottom: 3px solid #0a1336;
  border-radius: 0;
  color: #a9d9ce;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.tierListRatingSpace {
  align-items: center;
  color: #0a1336;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  width: 66px;
}

.tierListRating {
  align-items: center;
  background-color: #ef5350;
  color: #191817;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  width: 65px;
}

.sTier {
  background-color: #ff7f7f;
}

.aTier {
  background-color: #f9a2a2;
}

.bTier {
  background-color: #ffbf7f;
}

.cTier {
  background-color: #ffff7f;
}

.dTier {
  background-color: #bfff7f;
}

.tierListCharactersContainer {
  grid-gap: 0;
  background-color: #182449;
  border-radius: 0;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.tierListCharactersGrid {
  grid-gap: 5px;
  align-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32%);
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}

@media (max-width: 1538px) {
  .tierListCharactersGrid {
    grid-gap: 4px;
  }
}

.tierListCharactersGrid:nth-child(even) {
  background-color: #0a1336;
}

.tierListCharacterIcon {
  background-color: transparent;
  border: 0;
  opacity: 1;
  position: relative;
  transition: 0.3s;

  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}
