* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #e6f7ff;
  background-color: #0a1336;
  margin-top: 5.4rem; /* hardcoded no more overlapping */
}

a {
  color: #e6f7ff;
}

li {
  list-style-type: none;
}

/* -------------------------------------------------------------------navbar (got some help from my friend with the coding :3 ------------------------------------- */

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors (why didn't i think of doing something like this sooner) ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #29315c;
  --black-color-light: #0a1336;
  --black-color-lighten: #29315c;
  --white-color: #e6f7ff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav a:hover {
  color: #a9d9ce;
  transition: color 0.3s ease-in-out;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
  body {
    margin-top: var(--header-height); /* no more overlapping */
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
  color: #a9d9ce;
  transition: color 0.3s ease-in-out;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

/* -------------------------------------------------------------------footer---------------------------------------------------------------------------------- */

.footerBar {
  max-width: 1170px;
  background-color: #29315c;
  margin: auto;
}

.footerRow {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #29315c;
  padding: 40px 0;
}

.footerColumn {
  width: 25%;
}

.footerColumn h4 {
  font-size: 18px;
  color: #f9fdff;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footerColumn h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #a9d9ce;
  height: 2px;
  box-sizing: border-box;
  width: 40px;
}

.footerColumn p {
  text-wrap: balance;
  padding-right: 6rem;
}

.footerColumn ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  font-size: 16px;
  font-weight: 300;
  color: lightslategray;
  display: block;
  transition: all 0.3s ease;
}

.footerColumn ul li a:hover {
  color: #f9fdff;
  padding-left: 10px;
}

.footerSupport a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #182449;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f9fdff;
  transition: all 0.5s ease;
}

.footerSupport a:hover {
  color: #182449;
  background-color: #f9fdff;
}

@media (max-width: 767px) {
  .footerColumn {
    width: 50%;
    margin-bottom: 30px;
    padding-left: 24px;
  }
}

@media (max-width: 574px) {
  .footerColumn {
    width: 100%;
  }
}

/* -------------------------------------------------------------------index.html---------------------------------------------------------------------------------- */

.indexBackgroundImage {
  background-image: url(https://upload-os-bbs.hoyolab.com/upload/2024/02/10/17138284/966d24a314eab25030f70dc295c8db6a_3773521663887643236.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80);
  position: relative;
  background-size: cover;
  padding: 16px;
}

.indexBackgroundImage::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.indexHero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 0 19%;
  z-index: 2;
}

.indexHeroText h1 {
  font-family: seitu-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 90px;
  line-height: 1;
  color: #a9d9ce;
  margin: 20px 0 20px;
}

.indexHeroText h4 {
  font-size: 18px;
  font-weight: 600;
  color: #e6f7ff;
  margin-bottom: 10px;
}

.indexHeroText p {
  color: #f9fdff;
  text-wrap: balance;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.indexHeroText a {
  display: inline-block;
  color: #29315c;
  background: #a9d9ce;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.55s ease;
}

.indexHeroText a:hover {
  background: transparent;
  color: #e6f7ff;
  border: 1px solid #f9fdff;
  transform: translateX(8px);
}

.indexHeroText a.indexSecondButton {
  margin-left: 20px;
}

.indexHeroText i {
  vertical-align: middle;
  margin-right: 5px;
}

.indexHeroImage {
  width: 500px;
  height: auto;
}

@media (max-width: 1460px) {
  .indexHero {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .indexHeroImage img {
    width: 100%;
    height: auto;
  }
  .indexHeroText h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  .indexHero {
    padding: 0 3%;
    transition: 0.2s;
  }
  .indexHeroText {
    padding-top: 115px;
  }
  .indexHeroImage {
    text-align: center;
  }
  .indexHeroImage img {
    width: 560px;
    height: auto;
  }
  .indexHero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .indexHeroText {
    padding-top: 50px;
  }
  .indexHero {
    padding-bottom: 50px;
  }
  .indexHeroImage {
    width: 100%;
    height: auto;
  }
  .indexHeroText a.indexSecondButton {
    margin-left: 10px;
    margin-top: 20px;
  }
}

.indexCodes {
  padding: 2% 10%;
  background-color: #182449;
  z-index: 3;
}

.indexCodesHeading {
  padding-bottom: 15px;
  color: #e6f7ff;
  font-size: 2rem;
}

.indexCodes .indexCodesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.indexCodesGrid .indexCodesGridBox {
  border-radius: 5px;
  background: #29315c;
  text-align: center;
  padding: 30px 20px;
}

.indexCodesGridBox h3 {
  color: #a9d9ce;
  font-size: 22px;
  padding: 10px 0;
}

.indexCodesReleaseDate {
  color: lightslategrey;
  font-style: italic;
}

@media (max-width: 680px) {
  .indexCodes {
    padding: 6% 10%;
    background-color: #182449;
    z-index: 3;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.indexEvents {
  padding: 2% 10%;
  background-color: #0a1336;
}

.indexCarouselHeading {
  padding-bottom: 15px;
  color: #e6f7ff;
  font-size: 2rem;
}

.indexCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselWrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
}
.carouselWrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #29315c;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.carouselWrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.carouselWrapper i:first-child {
  left: -22px;
}
.carouselWrapper i:last-child {
  right: -22px;
}
.carouselWrapper .indexActualCarousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.indexActualCarousel::-webkit-scrollbar {
  display: none;
}
.indexActualCarousel.no-transition {
  scroll-behavior: auto;
}
.indexActualCarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.indexActualCarousel.dragging .carouselCard {
  cursor: grab;
  user-select: none;
}
.indexActualCarousel :where(.carouselCard, .carouselImage) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexActualCarousel .carouselCard {
  scroll-snap-align: start;
  height: 150px;
  list-style: none;
  background: #182449;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.indexActualCarousel .carouselCard .carouselImage {
  background: #8b53ff;
  flex: 1;
}
.carouselCard .carouselImage img {
  width: 30%;
  object-fit: cover;
  border: 4px solid #fff;
}
.indexActualCarousel .carouselImage h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.indexActualCarousel .carouselCard span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffff;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .carouselWrapper .indexActualCarousel {
    grid-auto-columns: calc((100% / 1) - 12px);
    font-size: 14px;
  }
  .indexEvents {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* -------------------------------------------------------------------characters.html---------------------------------------------------------------------------- */

.characters {
  padding: 2% 10%;
  background-color: #182449;
}

.charactersHeading {
  margin: 0 4.5% 0 4.5%;
  padding-bottom: 15px;
  color: #e6f7ff;
  font-size: 2rem;
}

.charactersSearchBar {
  margin: 0 4.5% 0 4.5%;
  margin-bottom: 20px;
}

.charactersSearchBar form {
  position: relative;
}

.charactersSearchBar input[type="text"] {
  padding: 10px 30px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.charactersSearchBar input[type="text"]:focus {
  outline: none;
  border-color: #29315c;
}

.charactersSearchBar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #888;
}

.charactersSearchBar i:hover {
  color: #555;
}

.charactersGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 15px;
}

.charactersGridBox {
  border-radius: 5px;
  background: #29315c;
  text-align: center;
  opacity: 1;
  margin-bottom: 25px;
  width: 140px;
}

.charactersGridBox img:hover {
  /* IMAGE CROPS OUTSIDE OF BOX!!!! FIX LATER */
  transform: translateY(-5px);
}

.charactersGridBox.hidden {
  display: none;
}

.charactersGridBox h3 {
  color: #a9d9ce;
  font-size: 18px;
  padding: 10px 0;
  transition: all 0.55s ease;
}

.charactersGridBox img {
  width: 100%;
  height: auto;
  transition: all 0.55s ease;
}

/* -------------------------------------------------------------------tierlist.html-------------------------------------------------------------------------------- */

.tierListHeader {
  border-radius: 0;
  display: flex;
  margin: 10px 0 5px;
  position: sticky;
  top: 75px;
  width: 100%;
  z-index: 1;
}

.tierListEntireContainer {
  border: 1px solid #0a1336;
  border-radius: 0;
  display: flex;
  margin: 10px 0;
  min-height: 100px;
  width: 100%;
}

.tierListTypeSections {
  grid-gap: 0;
  background-color: #29315c;
  border-bottom: 3px solid #0a1336;
  border-radius: 0;
  color: #a9d9ce;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.tierListRatingSpace {
  align-items: center;
  color: #0a1336;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  width: 66px;
}

.tierListRating {
  align-items: center;
  background-color: #ef5350;
  color: #191817;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  width: 65px;
}

.sTier {
  background-color: #ff7f7f;
}

.aTier {
  background-color: #f9a2a2;
}

.bTier {
  background-color: #ffbf7f;
}

.cTier {
  background-color: #ffff7f;
}

.dTier {
  background-color: #bfff7f;
}

.tierListCharactersContainer {
  grid-gap: 0;
  background-color: #182449;
  border-radius: 0;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.tierListCharactersGrid {
  grid-gap: 5px;
  align-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, 32%);
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}

@media (max-width: 1538px) {
  .tierListCharactersGrid {
    grid-gap: 4px;
  }
}

.tierListCharactersGrid:nth-child(even) {
  background-color: #0a1336;
}

.tierListCharacterIcon {
  background-color: transparent;
  border: 0;
  opacity: 1;
  position: relative;
  transition: 0.3s;

  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}
